@media (max-width:1270px){
    #description{
        visibility: hidden;
    }
}
@media (max-width:1024px) and (max-height:1366px){
/*Galaxy S5*/
/*Pixel 2*/
/*Pixel 2XL*/
/*iPhone 5/SE*/
/*iPhone 6/7/8*/
/*iPhone 6/7/8 Plus*/
/*iPhone X*/
/*iPad*/
    .mobile{
        width: 955;
        font-size: 3em;
    }
    #topTab{
        position: static;
        margin: 0px 0px 0px 6px;
        font-size: 2em;
    }
    #accountFunds{
        margin: 0px 0px 0px 0px;
        color: rgb(170, 170, 170);
        font-size: 2em;
    }
    #collumOne{
        position: absolute;
        margin: 10px 0px 0px 6px;
    }
    #collumTwo{
        position: absolute;
        margin: 1740px 0px 0px 6px;
    }
    #collumThree{
        position: absolute;
        margin: 3470px 0px 0px 6px;
    }
    
    #collumFour{
        position: absolute;
        margin: 5260px 0px 0px 6px;
    }
    .mobileTrade{
        font-size: 5.27em;
        width: 950;
    }
    .mobileTradeBtn{
        font-size: 1em;
        width: 950;
    }
}