html{
    margin: 0;
    padding: 0;
}
.bgBlack{
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.45), rgb(0, 0, 0, 0.45)),url(../img/images.jpg);
    background: -o-linear-gradient(to bottom, rgb(0, 0, 0, 0.45), rgb(0, 0, 0, 0.45)),url(../img/images.jpg);
    background: -moz-linear-gradient(to bottom, rgb(0, 0, 0, 0.45), rgb(0, 0, 0, 0.45)),url(../img/images.jpg);
    background: -webkit-linear-gradient(to bottom, rgb(0, 0, 0, 0.45), rgb(0, 0, 0, 0.45)),url(../img/images.jpg);
    background: -ms-linear-gradient(to bottom, rgb(0, 0, 0, 0.45), rgb(0, 0, 0, 0.45)),url(../img/images.jpg);
}
.bgVaidasOrange{
    background: linear-gradient(to bottom, rgb(241, 89, 34, 0.55), rgb(241, 89, 34, 0.55)),url(../img/images.jpg);
    background: -o-linear-gradient(to bottom, rgb(241, 89, 34, 0.55), rgb(241, 89, 34, 0.55)),url(../img/images.jpg);
    background: -moz-linear-gradient(to bottom, rgb(241, 89, 34, 0.55), rgb(241, 89, 34, 0.55)),url(../img/images.jpg);
    background: -webkit-linear-gradient(to bottom, rgb(241, 89, 34, 0.55), rgb(241, 89, 34, 0.55)),url(../img/images.jpg);
    background: -ms-linear-gradient(to bottom, rgb(241, 89, 34, 0.55), rgb(241, 89, 34, 0.55)),url(../img/images.jpg);
}
.txtAbsolute{
    position: absolute;
}
.txtWhite{
    color: rgb(255, 255, 255);
}
.txtGrey{
    color: rgb(197, 197, 197);
}
.txtUnderline{
    text-decoration: underline;
}
.txtCenter{
    text-align: center;
}
.txtUppercase{
    text-transform: uppercase;
}
.permanentMarker{
    font-family: 'Permanent Marker', cursive;
}
.indieFlower{
    font-family: 'Indie Flower', cursive;
}
/*HEADER-SECTION-START*/
header{
    padding: 158.25px 0px 458.25px 0px;
}
header h1{
    margin: 60px 0px 0px 10px;
    font-size: 5.7em;
}
#logo{
    margin: 0px 0px 0px 850px;
    height: 300px;
    width: auto;
}
/*HEADER-SECTION-END*/
/*ABOUT-SECTION-START*/
#about{
    padding: 122.25px 0px 582.25px 0px;
}
#about h2{
    margin: 0px 0px 0px 490px;
    text-align: center;
    font-size: 5em;
}
#about p{
    margin: 120px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.8em;
}
/*ABOUT-SECTION-END*/
/*BIKE-SECTION-START*/
#bike{
    padding: 52.25px 0px 662.25px 0px;
    background-color: rgb(10, 10, 10);
}
#bike h2{
    margin: 0px 0px 0px 500px;
    font-size: 5em;
}
#bikeOne{
    margin: 150px 0px 0px 130px;
}
#pushTheLimits{
    height: 90px;
    width: auto;
}
#bikeTwo{
    margin: 150px 0px 0px 650px;
}
#frogBikes{
    height: 100px;
    width: auto;
}
#bikeThree{
    margin: 350px 0px 0px 20px;
}
#customMadeBikes{
    height: 120px;
    width: auto;
}
#bikeFour{
    margin: 350px 0px 0px 700px;
}
#secondHandBikes{
    height: 120px;
    width: auto;
}
/*BIKE-SECTION-END*/
/*RENTALS-SECTION-START*/
#rentals{
    padding: 82.25px 0px 52.25px 0px;
}
#rentals h2{
    margin: 0px 0px 0px 450px;
    font-size: 5em;
}
#rentalP{
    margin: 150px 0px 0px 0px;
    font-size: 1.2em;
}
/*RENTALS-SECTION-END*/
/*SERVICES-SECTION-START*/
#services{
    padding: 62.25px 0px 622.25px 0px;
}
#services h2{
    margin: 0px 0px 0px 440px;
    font-size: 5em;
}
#goldService{
    margin: 130px 0px 0px 0px;
    width: 630;
    font-size: 0.8em;
}
#generalService{
    margin: 130px 0px 0px 630px;
    width: 610;
    font-size: 0.8em;
}
/*SERVICES-SECTION-END*/
/*FITNESS-CLASSES-SECTION-START*/
#fitnessClasses{
    padding: 72.25px 0px 622.25px 0px;
}
#fitnessClasses h2{
    margin: 0px 0px 0px 285px;
    font-size: 5em;
}
#fitnessClasses h3{
    margin: 120px 0px 0px 561px;
}
#turboimg{
    margin: 160px 0px 0px -78px;
    height: 240px;
    width: auto;
}
#fitnessClasses p{
    margin: 430px 0px 0px 40px;
}
/*FITNESS-CLASSES-SECTION-END*/
/*CONTACT-SECTION-START*/
#contact{
    padding: 12.25px 0px 612.25px 0px;
}
#contact h2{
    margin: 0px 0px 0px 450px;
    font-size: 5em;
}
#contact p{
    margin: 110px 0px 0px 215px;
    font-size: 1.3em
}
/*CONTACT-SECTION-END*/